header {
    #logo {
        background: url('assets/images/logo.png') no-repeat 0 0 scroll; 
        width: 54px; 
        height: 82px; 
        text-indent: -3000em;
        margin-top: 6px;
    }

    #phone {
        background: url('assets/images/phone-icon.png') no-repeat 6px 4px scroll;
        padding-left: 45px;
        padding-top: 10px;
        height: 40px;
        margin-top: 12px;
        float: right;
        margin-right: 57px;
        padding-right: 6px;
        color: #a67c52;
        .brown-border;            
    }

    #dl-menu {
        position: absolute;
        right: 0;
    }
}