.home-content {}
.home-bg {background: url('assets/images/bg.jpg') no-repeat 50% 0% scroll; margin-top: -50px;}
.holz {
    float:right;
    margin-top: 30px;
}
.holz p {
    font-family: "Times New Roman", Times, serif;
    color: #a67c52;
    font-size: 4.25em;
    span {
        color:#c21010;
    }
}

#cards-view {
    figure {
        text-align:center;
        padding:0!important;
        .card {
            background: rgba(255,255,255,.8);
            border-radius: 8px;
            border: 2px solid rgb(235,235,235);
            width: 270px;
            margin-bottom: 20px;
            height: 385px;
            display: inline-block;
            padding: 10px;
            h1 {
                font-style: italic;
                margin-top: 5px;
                font-size: 1.5em!important;;
                a {
                    float: none;
                    font-size: inherit;
                    text-align: center;
                    color:rgb(0,0,0);
                    &:hover {
                        text-decoration: none!important;
                    }
                }
            }
            img {
            }
            p {
                text-align: left;
                font-size: 14px;
            }
            a {
                float: right;
                font-size: 14px;
            }
            .box-img {
                margin-bottom: 15px;
                a {float: none;}
            }
        }
    }
}

.main-content {
    padding: 20px 0;
    p {font-size: 14px;}
    .introtext-placeholder {float: right;}
    .chart-placeholder {float: right;}

    .chart-container {
        width: 100%;
        margin: 0 auto;
    }
}

.quote-content {
    min-height: 100px;
    width: 100%;
    background: #e09e46;
    .row {
        padding: 40px 45px;
    }
    article img {
        display: block;
        text-align: center;
        margin: 0 auto;
        width: 88px;
        height: auto;
        border-radius: 100%;
        border: 2px solid #fef3a7;
    }
    .carousel-indicators {
        bottom: -30px;
        li {border-color: #000; margin-left:3px; margin-right:3px;}
        .active {background: #000;}
    }
    p {
        padding-top: 15px;
        font-weight: bold;
    }
    @media (max-width: 990px) {
        text-align:center;
        article img {
            margin: 10px auto 20px;
        }
        c.arousel-indicators {
            bottom: -30px;
        }
    }
    @media (max-width: 790px) {
        .row {
            padding: 40px 5px;
        }

    }
}



@media (max-width: 540px) {
    .introtext-placeholder {float: none;}
    .chart-placeholder {float: none;}
}

@media (max-width: 940px) {
    .holz {
        margin-top: 0;
    }
    .holz p {
        font-size: 2.25em;
    }
}

@media (max-width: 980px) and (min-width: 625px) {
    .home-bg {background-size: 350%;}
    .home-content {
        figure.col-xs-12{
            width: 50%!important;
        }
    }
}

@media (max-width: 625px) {
    #cards-view {
        height: 400px!important;
        overflow: hidden;
        figure {float: left;}
        .card {
            max-height: 385px!important;
        }
    }
}

@media (max-width: 420px) {
    .home-bg {background-size: 350%;}
    .holz p {
        font-size: 1.15em;
    }
    figure {
        .card {
            height: 305px;
            display: inline-block;
            padding: 10px;
            p {
            }
        }
    }
}

@media (max-width: 360px) {
    figure {
        .card {
            width: 230px!important;
            display: inline-block;
            padding: 10px;
            p {
            }
        }
    }
}
